In [1]:
from numpy.random import randn
import numpy as np
np.random.seed(123)
import os
import matplotlib.pyplot as plt
import pandas as pd
plt.rc('figure', figsize=(10, 6))
np.set_printoptions(precision=4)
pd.options.display.max_rows = 20

In [7]:
#共四列，分别表示：用户ID，购买日期，购买数量，购买金额
columns = ['user_id', 'order_date', 'order_number', 'gmv']
path = 'CDNOW.txt'
data = pd.read_table(path, names = columns, sep = '\s+')

In [8]:
##显示数据
data.head()

   user_id  order_date  order_number    gmv
0        1    19970101             1  11.77
1        2    19970112             1  12.00
2        2    19970112             5  77.00
3        3    19970102             2  20.76
4        3    19970330             2  20.76

In [11]:
# 总共有69659行数据
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69659 entries, 0 to 69658
Data columns (total 4 columns):
user_id         69659 non-null int64
order_date      69659 non-null int64
order_number    69659 non-null int64
gmv             69659 non-null float64
dtypes: float64(1), int64(3)
memory usage: 2.1 MB

In [13]:
# 用describe方法查看统计型数据
data[['order_number', 'gmv']].describe()

       order_number           gmv
count  69659.000000  69659.000000
mean       2.410040     35.893648
std        2.333924     36.281942
min        1.000000      0.000000
25%        1.000000     14.490000
50%        2.000000     25.980000
75%        3.000000     43.700000
max       99.000000   1286.010000

In [15]:
# 根据用户分组查看购买数量和购买金额的统计量
data.groupby('user_id').sum()[['order_number', 'gmv']].describe()

       order_number           gmv
count  23570.000000  23570.000000
mean       7.122656    106.080426
std       16.983531    240.925195
min        1.000000      0.000000
25%        1.000000     19.970000
50%        3.000000     43.395000
75%        7.000000    106.475000
max     1033.000000  13990.930000