In [1]:
# 内建函数结构、函数及文件

In [2]:
# 元组

In [3]:
tup = 4, 5, 6

In [4]:
tup

(4, 5, 6)

In [5]:
#元组的元素是元组
nested_tup = (1, 2, 3),(5, 7, 6)

In [6]:
nested_tup

((1, 2, 3), (5, 7, 6))

In [7]:
tuple([3,2,1])

(3, 2, 1)

In [8]:
tup = tuple('string')

In [9]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [10]:
tup[0]

's'

In [11]:
tup = tuple(['foo', [1,2], True])

In [12]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [13]:
tup[1].append(3)

In [14]:
tup

('foo', [1, 2, 3], True)

In [15]:
(3, None, 'foo') + (2, 3)

(3, None, 'foo', 2, 3)

In [16]:
('sssa', 'adad') * 4

('sssa', 'adad', 'sssa', 'adad', 'sssa', 'adad', 'sssa', 'adad')

In [17]:
tup = (1,2,4)
a,b,c = tup

In [18]:
a

1

In [19]:
b

2

In [20]:
c

4

In [21]:
a, b = 1, 2

In [22]:
b, a = a, b

In [23]:
a

2

In [24]:
b

1

In [25]:
seq = [(1,2,3), (4,5,6),(7,8,9)]

In [26]:
for a,b,c in seq:
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [27]:
values = 1,2,3,4,5

In [28]:
a, b, *rest = values

In [29]:
a,b

(1, 2)

In [30]:
rest

[3, 4, 5]

In [33]:
a = (1,2,3,4,3,7)

In [35]:
a.count(3)

2

In [36]:
# list

In [37]:
a_list = [2,3,7,None]

In [38]:
tup = ('foo', 'bar', 'baz')

In [39]:
b_list = list(tup)

In [40]:
b_list

['foo', 'bar', 'baz']

In [41]:
b_list[1] = 'ssd'

In [42]:
b_list

['foo', 'ssd', 'baz']

In [43]:
b_list.append("feng")

In [44]:
b_list

['foo', 'ssd', 'baz', 'feng']

In [45]:
b_list.insert(2, 'red')

In [46]:
b_list

['foo', 'ssd', 'red', 'baz', 'feng']

In [47]:
b_list.pop(2)

'red'

In [48]:
b_list

['foo', 'ssd', 'baz', 'feng']

In [49]:
b_list.remove('feng')

In [50]:
b_list

['foo', 'ssd', 'baz']

In [51]:
'feng' in b_list

False

In [52]:
'feng' not in b_list

True

In [55]:
[4, None, 'foo'] + [1, 3, (5, 6)]

[4, None, 'foo', 1, 3, (5, 6)]

In [56]:
x = [3, None, 'foo']

In [57]:
x.extend([6,7,8,(8,4)])

In [58]:
x

[3, None, 'foo', 6, 7, 8, (8, 4)]

In [60]:
everything = []
for chunk in b_list:
    everything.extend(chunk)

In [61]:
a= [3,5,7,1,2]

In [62]:
a.sort()

In [63]:
a

[1, 2, 3, 5, 7]

In [64]:
b = ['ssd', 'fegng', 'aawqqqq', 'as', 'wwew']

In [66]:
b.sort(key=len)

In [67]:
b

['as', 'ssd', 'wwew', 'fegng', 'aawqqqq']

In [ ]:
# 二分收索

In [70]:
import bisect as bis

In [69]:
c = [1, 2, 2, 2, 3, 4, 7]

In [71]:
bis.bisect(c, 2)

4

In [72]:
bis.bisect(c, 5)

6

In [73]:
bis.insort(c, 6)

In [74]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [75]:
# 切片结束位置不包含
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [76]:
seq[1:5]

[2, 3, 7, 5]

In [77]:
# 切片赋值
seq[3:4] = [6, 3]

In [78]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [79]:
seq[:5]

[7, 2, 3, 6, 3]

In [80]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [81]:
seq[-4:]

[5, 6, 0, 1]

In [82]:
seq[-6:-2]

[6, 3, 5, 6]

In [83]:
seq[::2]

[7, 3, 3, 6, 1]

In [84]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [85]:
some_list = ['foo', 'bar', 'baz']

In [86]:
mapping={}

In [87]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [88]:
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

In [89]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [90]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [91]:
# zip

In [92]:
seq1 = ['foo', 'bar', 'baz']

In [93]:
seq2 = ['one', 'two', 'three']

In [94]:
zipped = zip(seq1, seq2)

In [95]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [96]:
seq3 = [False, True]

In [97]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [98]:
for i, (a,b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

In [99]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [100]:
first_names, last_names = zip(*pitchers)

In [101]:
first_names

('Nolan', 'Roger', 'Schilling')

In [102]:
last_names

('Ryan', 'Clemens', 'Curt')

In [103]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [104]:
empty_dict = {}

In [105]:
d1 = {'a':'some value', 'b':[1,2,3,4]}

In [106]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [108]:
d1[7] = 'an integer'

In [109]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [110]:
d1['b']

[1, 2, 3, 4]

In [111]:
'b' in d1

True

In [112]:
d1[5] = 'some value'

In [113]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [114]:
d1['dummy'] = 'another value'

In [115]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [116]:
del d1[5]

In [117]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [118]:
ret = d1.pop('dummy')

In [119]:
ret

'another value'

In [120]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [121]:
list(d1.keys())

['a', 'b', 7]

In [122]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [123]:
d1.update({'b':'foo','c':122})

In [124]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 122}

In [125]:
#从序列中生成字典

In [128]:
# 最初idea
key_list = ('a', 'v')
value_list = (1, 2)
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [129]:
mapping

{'a': 1, 'v': 2}

mapping = dict(zip(range(5), reversed(range(5)))

In [134]:
mapping1 = dict(zip(range(5), reversed(range(5))))

In [135]:
mapping1

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [138]:
# 默认值设置
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [139]:
by_letter = {}

In [141]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [142]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [144]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [145]:
by_letter

{'a': ['apple', 'atom', 'apple', 'atom'],
 'b': ['bat', 'bar', 'book', 'bat', 'bar', 'book']}

In [146]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [147]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [148]:
hash('string')

-7338064329280075111

In [151]:
hash((1, 2, (2,3)))

1097636502276347782

In [152]:
#哈希化必须是不可变对象

In [153]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [154]:
d = {}

In [155]:
d[tuple([1,2,3])] = 5

In [156]:
d

{(1, 2, 3): 5}

In [157]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [158]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [159]:
a = {1, 2, 3, 4, 5}

In [160]:
b = {3, 4, 5, 6, 6, 7, 8}

In [161]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [162]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [163]:
a.intersection(b)

{3, 4, 5}

In [164]:
a & b

{3, 4, 5}

In [165]:
a.issuperset(b)

False

In [166]:
a.difference(b)

{1, 2}

In [167]:
a.difference_update(b)

In [168]:
a.isdisjoint(b)

True

In [169]:
c = a.copy()

In [170]:
c |= b

In [171]:
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [175]:
d = a.copy()

In [176]:
d &= b

In [177]:
d

set()

In [178]:
my_data = [1, 2, 3, 4]

In [179]:
my_set = {tuple(my_data)}

In [180]:
my_set

{(1, 2, 3, 4)}

In [181]:
a_set = {1, 2, 3, 4, 5}

In [182]:
{1, 2, 3}.issubset(a_set)

True

In [183]:
a_set.issuperset({1, 2, 3})

True

In [184]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [185]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']